<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans.xsd
		                     http://www.springframework.org/schema/security
		                     http://www.springframework.org/schema/security/spring-security.xsd">

    <http  auto-config="true" use-expressions="true" >

        <intercept-url pattern="/search**" access="isAuthenticated()" />
        <intercept-url pattern="/reservation**" access="isAuthenticated()" />
        <intercept-url pattern="/payment**" access="isAuthenticated()" />
        <intercept-url pattern="/administration**" access="hasRole('ROLE_ADMIN')" />

        <form-login
                login-page="/home?showModal"
                login-processing-url="/login"
                default-target-url="/search"
                authentication-failure-url="/add_account/error"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-url="/logout" delete-cookies="JSESSIONID"/>

        <csrf/>
    </http>

    <authentication-manager>

        <authentication-provider user-service-ref="userService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>


    <b:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <b:bean id="userService" class="by.chmut.hotel.service.impl.UserServiceImpl"/>


</b:beans>